@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=PT+Serif:ital@1&family=Playfair+Display&family=Poor+Story&family=Roboto+Slab:wght@200&family=Source+Code+Pro:ital@1&display=swap');
*{
  box-sizing: border-box;
}
.logo{
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  text-align: center;
  cursor: pointer;
  margin-left: 5rem;
  color: #0ABFBC;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 25px ;
  align-items: center;
  height: 60px;
  background: transparent;
}
.nav-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  transition: all 0.5s ease;
}
.nav-list{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 110px;
  border-left: 3px solid transparent;
  transition: all 0.5s ease;
}
.nav-list:hover {
    border-left: 3px solid #0ABFBC;
}
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width:  780px) {
  .logo{
    display: flex;
    margin-left: 15px;
    position: absolute;
    font-size: 2rem;
    top: 15px;
  }
  
  .nav-link {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background: #03001e;
    z-index: 10;
    left:  0;
    top: 65px;
    transition: all 0.5s ease-in;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
  }
  
  .nav-list {
    z-index: 1;
    opacity: 1;
    color: #fff;
    display: grid;
    text-align: center;
    font-size: 1.5rem;
    width: 95%;
    transition: all 0.5s ease;
    border-left: none;
    margin-top: 2rem;
  }
  .nav-list:hover {
    border: none;
    color: #0ABFBC;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background:  transparent;
    border: none;
    outline: none;
    top: 25px;
    right: 25px;
    transition: all 0.5s ease-in;
  }
}
